# Monthly Reports

## Head FLEX Days Used

In [101]:
# start with imports
import pandas as pd
import db_functions as dbfnc
import config as cfg
from datetime import date

In [102]:
# grab data from the db and input it to a df
# the query is HeadworkedTable joined with ShowTable joined with HeadNamesTable filtered on ShowName 'FLEX DAY'
sql_file=open(f'{cfg.sql_dir}\head_toil_days.sql')
query = sql_file.read()

with dbfnc.connection(cfg.my_driver, cfg.my_server, cfg.my_db) as conn:
    df = pd.read_sql(query, conn)

In [103]:
# filter for last 12 months
value_to_check = pd.Timestamp(date.today().year-1, date.today().month, date.today().day)
filter_mask = df['ShiftDate'] > value_to_check
df = df[filter_mask]

In [104]:
# create df with FLEX DAYS only with a filter
filter_mask = df['ShowTitle'] == 'FLEX DAY'
df = df[filter_mask]

In [105]:
# turn the datetime64 object into a string object for manipultaion
df['Date_String'] = df['ShiftDate'].dt.strftime('%Y-%m-%d')

In [106]:
# create the fiscal info from the new string object
df['Fiscal Year'] = df.Date_String.apply(dbfnc.fiscal_yr)
df['Fiscal Quarter'] = df.Date_String.apply(dbfnc.fiscal_q)

In [107]:
# sort for presentation
df.sort_values(by='FirstName', inplace=True)
sort_list = ['Fiscal Year', 'Fiscal Quarter']
df.sort_values(by=sort_list, ascending=False, inplace=True)

In [108]:
#create the new df removing uneeded column data
df = df[['Fiscal Year', 'Fiscal Quarter', 'FirstName', 'ShiftDate']].copy()

In [109]:
#.. and style for preentation
df.style.set_properties(**{'text-align':'center'}).hide_index()

## TOIL Payouts

In [114]:
import pandas as pd
import db_functions as dbfnc
import config as cfg
from datetime import date

In [115]:
# grab data from the db and input it to a df
# the query is HeadworkedTable joined with ShowTable joined with HeadNamesTable filtered on ShowName 'FLEX DAY'
sql_file=open(f'{cfg.sql_dir}\TOIL_payouts.sql')
query = sql_file.read()

with dbfnc.connection(cfg.my_driver, cfg.my_server, cfg.my_db) as conn:
    df = pd.read_sql(query, conn)

In [121]:
df['Date_String'] = df['PayoutDate'].dt.strftime('%Y-%m-%d')
filter_mask = df.Date_String.apply(dbfnc.current_fiscal) 
df = df[filter_mask]

In [ ]:
# sum and group each heads hours.

In [ ]:
# make a new df removing access rows

In [122]:
#.. and style for preentation
df.style.set_properties(**{'text-align':'center'}).hide_index()