In [1]:
from IPython.display import HTML

In [2]:
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

# MONTHLY REPORTS

## Head FLEX Days Used - Last 12 months

I could make a little talky talkey here if I wanted.

In [3]:
# start with imports
import pandas as pd
import db_functions as dbfnc
import config as cfg
from datetime import date

In [4]:
# grab data from the db and input it to a df
# the query is HeadworkedTable joined with ShowTable joined with HeadNamesTable filtered on ShowName 'FLEX DAY'
sql_file=open(f'{cfg.sql_dir}\head_toil_days.sql')
query = sql_file.read()

with dbfnc.connection(cfg.my_driver, cfg.my_server, cfg.my_db) as conn:
    df = pd.read_sql(query, conn)

In [5]:
# filter for last 12 months
value_to_check = pd.Timestamp(date.today().year-1, date.today().month, date.today().day)
filter_mask = df['ShiftDate'] > value_to_check
df = df[filter_mask]

In [6]:
# create df with FLEX DAYS only with a filter
filter_mask = df['ShowTitle'] == 'FLEX DAY'
df = df[filter_mask]

In [7]:
# turn the datetime64 object into a string object for manipultaion
df['Date_String'] = df['ShiftDate'].dt.strftime('%Y-%m-%d')

In [8]:
# create the fiscal info from the new string object
df['Fiscal Year'] = df.Date_String.apply(dbfnc.fiscal_yr)
df['Fiscal Quarter'] = df.Date_String.apply(dbfnc.fiscal_q)

In [9]:
# sort for presentation
df.sort_values(by='FirstName', inplace=True)
sort_list = ['Fiscal Year', 'Fiscal Quarter']
df.sort_values(by=sort_list, ascending=False, inplace=True)

In [10]:
#create the new df removing uneeded column data
df = df[['Fiscal Year', 'Fiscal Quarter', 'FirstName', 'ShiftDate']].copy()

In [11]:
#.. and style for preentation
df.style.set_properties(**{'text-align':'center'}).hide_index()

---

## TOIL Payouts to Heads - Current Fiscal Year

In [12]:
# grab data from the db and input it to a df
# the query is HeadworkedTable joined with ShowTable joined with HeadNamesTable filtered on ShowName 'FLEX DAY'
sql_file=open(f'{cfg.sql_dir}\TOIL_payouts.sql')
query = sql_file.read()

with dbfnc.connection(cfg.my_driver, cfg.my_server, cfg.my_db) as conn:
    df = pd.read_sql(query, conn)

In [13]:
# turn the datetime64 object into a string object for manipultaion
df['Date_String'] = df['PayoutDate'].dt.strftime('%Y-%m-%d')

In [14]:
# filter for current fiscal year only
filter_mask = df.Date_String.apply(dbfnc.current_fiscal) 
df = df[filter_mask]

In [15]:
# sum and group each heads hours.

In [16]:
# create the new df removing uneeded column data
df = df[['FirstName', 'PayoutinHrs']].copy()

In [17]:
#.. and style for preentation
df.style.set_properties(**{'text-align':'center'}).hide_index()

---

# Head Salaried Hours Worked by Account Code - Current Fiscal Year

In [18]:
# grab data from the db and input it to a df
# the query is HeadworkedTable joined with ShowTable joined with HeadNamesTable filtered on ShowName 'FLEX DAY'
sql_file=open(f'{cfg.sql_dir}\head_hours_worked.sql')
query = sql_file.read()

with dbfnc.connection(cfg.my_driver, cfg.my_server, cfg.my_db) as conn:
    df = pd.read_sql(query, conn)

In [19]:
# turn the datetime64 object into a string object for manipultaion
df['Date_String'] = df['ShiftDate'].dt.strftime('%Y-%m-%d')

In [20]:
# filter for current fiscal year only
filter_mask = df.Date_String.apply(dbfnc.current_fiscal) 
df = df[filter_mask]

In [21]:
# Overtime conversions
df['OT_convert'] = df.OverTimeHours.apply(lambda x:x*1.5)
df['DT_convert'] = df.DoubleTimeHours.apply(lambda x:x*2)

In [22]:
# Combine all hours
sum_cols =['RegTimeHours', 'OT_convert', 'DT_convert']
df['all_hrs'] = df[sum_cols].sum(axis=1)

In [23]:
#create percent column
df['percent'] = (df['all_hrs'] / df['all_hrs'].sum()) * 100
df.percent = df.percent.round(2)

#### Hours Worked - All

In [24]:
# create the new df removing uneeded column data
df_all = df[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [25]:
# sum and present the data
df_all.groupby(['AccountCodeID', 'Note']).sum()

                                             all_hrs  percent
AccountCodeID Note
6210-50-504   Jack Singer Salaried Billable    67.50     0.82
7290-50-504   LX Maintenance                   61.50     0.76
7420-20-204   Snd Res Co                        1.50     0.02
7430-50-504   Sound Maintenance               152.50     1.86
7470-20-204   Stg Res Co                       10.50     0.12
7480-50-504   Stage Maintenance               675.75     8.22
8430-50-504   Salaried Admin                 3677.00    45.09
8440-20-203   Lance Labour                      9.00     0.10
8455-50-504   Vacation/Holiday/Flex/Sick     1011.00    12.60
8870-50-504   Training                          2.50     0.03
9999-99-999   OFF BUDGET                        0.75     0.01
CRF           Capital replacement            2588.50    31.59

---

In [26]:
# kill the SettingWithCopy Warning
pd.options.mode.chained_assignment = None  # default='warn'

#### Hours Worked - Arran Fisher

In [27]:
# filter for Arran
filter_mask = df['FirstName'] == "Arran"
df_af = df[filter_mask]

In [28]:
#create percent column
df_af['percent'] = (df_af['all_hrs'] / df_af['all_hrs'].sum()) * 100
df_af.percent = df_af.percent.round(2)

In [29]:
# create the new df removing uneeded column data
df_af = df_af[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [30]:
# sum and present the data
df_af.groupby(['AccountCodeID', 'Note']).sum()

                                             all_hrs  percent
AccountCodeID Note
6210-50-504   Jack Singer Salaried Billable     12.5     1.20
7290-50-504   LX Maintenance                    13.5     1.32
7430-50-504   Sound Maintenance                  6.0     0.58
8430-50-504   Salaried Admin                   871.0    84.89
8455-50-504   Vacation/Holiday/Flex/Sick       129.0    12.60

---

#### Hours Worked - Jack Jamieson

In [31]:
# filter for Jack
filter_mask = df['FirstName'] == "Jack"
df_jj = df[filter_mask]

In [32]:
#create percent column
df_jj['percent'] = (df_jj['all_hrs'] / df_jj['all_hrs'].sum()) * 100
df_jj.percent = df_jj.percent.round(2)

In [33]:
# create the new df removing uneeded column data
df_jj = df_jj[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [34]:
# sum and present the data
df_jj.groupby(['AccountCodeID', 'Note']).sum()

                                             all_hrs  percent
AccountCodeID Note
6210-50-504   Jack Singer Salaried Billable     14.0     1.35
7420-20-204   Snd Res Co                         1.5     0.15
7430-50-504   Sound Maintenance                 58.5     5.67
8430-50-504   Salaried Admin                    30.0     2.89
8455-50-504   Vacation/Holiday/Flex/Sick       112.0    10.79
CRF           Capital replacement              819.5    79.28

---

#### Hours Worked - Jaclyn Gowie

In [35]:
# filter for Jaclyn
filter_mask = df['FirstName'] == "Jaclyn"
df_jg = df[filter_mask]

In [36]:
#create percent column
df_jg['percent'] = (df_jg['all_hrs'] / df_jg['all_hrs'].sum()) * 100
df_jg.percent = df_jg.percent.round(2)

In [37]:
# create the new df removing uneeded column data
df_jg  = df_jg [['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [38]:
# sum and present the data
df_jg.groupby(['AccountCodeID', 'Note']).sum()

                                             all_hrs  percent
AccountCodeID Note
6210-50-504   Jack Singer Salaried Billable     14.0     1.37
7470-20-204   Stg Res Co                         3.5     0.34
7480-50-504   Stage Maintenance                257.0    24.92
8430-50-504   Salaried Admin                   600.0    58.46
8455-50-504   Vacation/Holiday/Flex/Sick       105.0    10.23
8870-50-504   Training                           2.5     0.25
CRF           Capital replacement               50.0     4.86

---

#### Hours Worked - Kris Ladd

In [39]:
# filter for Kris
filter_mask = df['FirstName'] == "Kris"
df_kl = df[filter_mask]

In [40]:
#create percent column
df_kl['percent'] = (df_kl['all_hrs'] / df_kl['all_hrs'].sum()) * 100
df_kl.percent = df_kl.percent.round(2)

In [41]:
# create the new df removing uneeded column data
df_kl= df_kl[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [42]:
# sum and present the data
df_kl.groupby(['AccountCodeID', 'Note']).sum()

                                          all_hrs  percent
AccountCodeID Note
8430-50-504   Salaried Admin                56.00     5.42
8455-50-504   Vacation/Holiday/Flex/Sick   100.00     9.75
9999-99-999   OFF BUDGET                     0.75     0.07
CRF           Capital replacement          875.25    84.87

---

#### Hours Worked - Matt Gilbutowicz

In [43]:
# filter for Matt
filter_mask = df['FirstName'] == "Matt"
df_mg = df[filter_mask]

In [44]:
#create percent column
df_mg['percent'] = (df_mg['all_hrs'] / df_mg['all_hrs'].sum()) * 100
df_mg.percent = df_mg.percent.round(2)

In [45]:
# create the new df removing uneeded column data
df_mg = df_mg[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [46]:
# sum and present the data
df_mg.groupby(['AccountCodeID', 'Note']).sum()

                                             all_hrs  percent
AccountCodeID Note
6210-50-504   Jack Singer Salaried Billable     13.0     1.25
7290-50-504   LX Maintenance                    45.0     4.38
7480-50-504   Stage Maintenance                 52.0     5.07
8430-50-504   Salaried Admin                   196.5    19.12
8440-20-203   Lance Labour                       9.0     0.87
8455-50-504   Vacation/Holiday/Flex/Sick       188.0    18.33
CRF           Capital replacement              528.5    51.42

---

#### Hours Worked - Rikki Schlosser

In [47]:
# filter for Rikki
filter_mask = df['FirstName'] == "Rikki"
df_rs = df[filter_mask]

In [48]:
#create percent column
df_rs['percent'] = (df_rs['all_hrs'] / df_rs['all_hrs'].sum()) * 100
df_rs.percent = df_rs.percent.round(2)

In [49]:
# create the new df removing uneeded column data
df_rs = df_rs[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [50]:
# sum and present the data
df_rs.groupby(['AccountCodeID', 'Note']).sum()

                                             all_hrs  percent
AccountCodeID Note
6210-50-504   Jack Singer Salaried Billable    14.00     1.37
7290-50-504   LX Maintenance                    3.00     0.29
7430-50-504   Sound Maintenance                 5.50     0.53
7470-20-204   Stg Res Co                        7.00     0.69
7480-50-504   Stage Maintenance               366.25    35.65
8430-50-504   Salaried Admin                  507.75    49.46
8455-50-504   Vacation/Holiday/Flex/Sick      103.50    10.09
CRF           Capital replacement              22.50     2.18

---

#### Hours Worked - Terry Aalders

In [51]:
# filter for Terry
filter_mask = df['FirstName'] == "Terry"
df_ta = df[filter_mask]

In [52]:
#create percent column
df_ta['percent'] = (df_ta['all_hrs'] / df_ta['all_hrs'].sum()) * 100
df_ta.percent = df_ta.percent.round(2)

In [53]:
# create the new df removing uneeded column data
df_ta = df_ta[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [54]:
# sum and present the data
df_ta.groupby(['AccountCodeID', 'Note']).sum()

                                          all_hrs  percent
AccountCodeID Note
7430-50-504   Sound Maintenance             82.50     8.02
7480-50-504   Stage Maintenance              0.50     0.05
8430-50-504   Salaried Admin               549.25    53.59
8455-50-504   Vacation/Holiday/Flex/Sick   107.00    10.42
CRF           Capital replacement          292.75    28.54

---

#### Hours Worked - David McDougall

In [55]:
# filter for David
filter_mask = df['FirstName'] == "David"
df_dm = df[filter_mask]

In [56]:
#create percent column
df_dm['percent'] = (df_dm['all_hrs'] / df_dm['all_hrs'].sum()) * 100
df_dm.percent = df_dm.percent.round(2)

In [57]:
# create the new df removing uneeded column data
df_dm = df_dm[['AccountCodeID', 'Note', 'all_hrs', 'percent']].copy()

In [58]:
# sum and present the data
df_dm.groupby(['AccountCodeID', 'Note']).sum()

                                          all_hrs  percent
AccountCodeID Note
8430-50-504   Salaried Admin                866.5    83.83
8455-50-504   Vacation/Holiday/Flex/Sick    166.5    16.04

---

## LIEU hours

In [59]:
from datetime import timedelta

In [60]:
# grab data from the db and input it to a df
# the query is HeadworkedTable joined with ShowTable joined with HeadNamesTable filtered on ShowName 'FLEX DAY'
sql_file=open(f'{cfg.sql_dir}\lieu_hours.sql')
query = sql_file.read()

with dbfnc.connection(cfg.my_driver, cfg.my_server, cfg.my_db) as conn:
    df = pd.read_sql(query, conn)

In [61]:
# filter out those who have left the company
remove_list = ['Juan', 'Donnie', 'Phil']
filter_mask = ~df['FirstName'].isin(remove_list)
df = df[filter_mask]

In [62]:
# create a day of the week number (Sun == 6, Mon == 0)
df['day-of-week']=df['ShiftDate'].dt.dayofweek

In [63]:
# function to calcualte the weekending date
def wk_ending(my_df):
    if my_df[6]==6:
        wk_end_offset = 6
    else:
        wk_end_offset =5-my_df[6]
    wkend_date = pd.Timestamp(my_df[1] + timedelta(days=wk_end_offset))
    return wkend_date

In [64]:
# add the week ending date
df['week_ending'] = df.apply(wk_ending, axis=1)

In [65]:
# Overtime conversions
df['OT_convert'] = df.OverTimeHours.apply(lambda x:x*1.5)
df['DT_convert'] = df.DoubleTimeHours.apply(lambda x:x*2)

In [66]:
# convert the payouts to negative integers 
df['neg_payouts'] = df.Payoutinhrs.apply(lambda x:x*-1)

In [67]:
# Combine all hours
sum_cols =['RegTimeHours', 'OT_convert', 'DT_convert']
df['all_hrs_wrkd'] = df[sum_cols].sum(axis=1)

In [68]:
# sum and present the data
df = df.groupby(['FirstName','week_ending']).sum().reset_index()

In [69]:
#df['hours_owed'] = df.apply(over_under, axis=1)
df['hours_owed'] = -40

In [70]:
sum_cols =['all_hrs_wrkd', 'hours_owed', 'neg_payouts']
df['balance'] = df[sum_cols].sum(axis=1)

In [71]:
# create the new df removing uneeded column data
df = df[['FirstName', 'week_ending', 'balance']].copy()

In [72]:
df = df.groupby(['FirstName']).sum().round(2)

In [73]:
df

           balance
FirstName
Arran         0.00
David         0.00
Jack          0.99
Jaclyn       -0.00
Kris          0.00
Matt        -10.38
Rikki        -3.88
Terry        -1.25